<div class="d-flex justify-content-end align-items-end m-3">
    <h3 class="bg-success wallet p-2 text-light">Wallet Balance   <i class="bi bi-wallet2"></i>{{wallet}}</h3>
</div>


<div class="card rounded w-75 p-2 mx-auto d-block" *ngFor="let v of accountDetails">
    <div class="row">
        <h1>Appointment-Details:</h1>
        <div class="col">
            <div class="card-body">
                <h3>Doctor:</h3>
                <h3>Slot Time:</h3>
                <h3>Date:</h3>
                <h3>Fees:</h3>
            </div>
        </div>
        <div class="col">
            <div class="card-body">
                <h3>{{v.doctorname}}</h3>
                <h3>{{v.timmings}}</h3>
                <h3>{{v.date}}</h3>
                <h3><img
                    src="https://img.icons8.com/material-sharp/24/000000/rupee.png" class="img" />{{v.consultationFee}}</h3>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end align-items-end">
        <button class="btn btn-success m-3 w-25" data-bs-toggle="modal" data-bs-target="#modal"
            (click)="wallet>=accountDetails[0].consultationFee ? successfulPayment() : false">PAY</button>
    </div>
</div>


<div class="modal fade mx-auto my-auto " tabindex="-1" id="modal" *ngIf="wallet>=accountDetails[0].consultationFee">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="mb-5">
                <button type="button" class="close btn  btn-danger" data-bs-dismiss="modal" aria-label="Close">X
                </button>
            </div>
            <div class="modal-body">
                <h4 class="text-success text-center p-3" style="font-weight: bold;">Payment Successful!</h4>
            </div>
        </div>
    </div>
</div>

<div class="modal fade mx-auto my-auto" tabindex="-1" id="modal" *ngIf="wallet<accountDetails[0].consultationFee">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="mb-5">
                <button type="button" class="close btn  btn-danger" data-bs-dismiss="modal" aria-label="Close">X
                </button>
            </div>
            <div class="modal-body">
                <h4 class="text-danger text-center p-3" style="font-weight: bold;">Insufficient Funds!</h4>
            </div>
        </div>
    </div>
</div>



<div class="card rounded p-5 mt-4">
    <h2>Add Money to Wallet</h2>
    <form action="" [formGroup]="AddMOney">
        <div>
            <input type="number" class="form-control rounded" formControlName="addMoney"  [(ngModel)]="value">
        
        </div>
    </form>
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 row-cols-lg-3">
        <div class="col">
            <button class="btn btn-success" (click)="addToInput(500)"><img
                src="https://img.icons8.com/material-sharp/24/000000/rupee.png" class="img" />500</button>
        </div>
        <div class="col">
            <button (click)="addToInput(1000)" class="btn btn-success"><img
                src="https://img.icons8.com/material-sharp/24/000000/rupee.png" class="img" />1000</button>
        </div>
        <div class="col">
            <button (click)="addToInput(2000)" class="btn btn-success"><img
                src="https://img.icons8.com/material-sharp/24/000000/rupee.png" class="img"/>2000</button>
        </div>
    </div>
    <button class="btn btn-success mt-3 mx-auto d-block" (click)="addToWallet()">Proceed To Add</button>
</div>