<div class="row">
    <div class="col">
        <div class="container container1">
            <div class="card h-100 mx-auto d-block mt-3" *ngFor="let v of doctors">
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 row-cols-lg-3">
                    <div class="col my-auto">
                        <img src="{{v.imgUrl}}" class="card-img img d-block mx-auto mt-3 w-50 h-50" alt="">
                    </div>
                    <div class="col">
                        <div class="card-body my-auto">
                            <h5>Name: <span>{{v.name}}</span></h5>
                            <h5>City: <span>{{v.city}}</span></h5>
                            <h5>Specialization: <span>{{v.specialization}}</span></h5>
                            <h5>Experience: <span>{{v.experience}}</span></h5>
                            <h5>Fees: <span>{{v.consultationFee}}</span></h5>
                        </div>
                    </div>
                    <div class="col card-body">
                        <button class="btn w-75 mb-4 d-block mx-auto btn-outline-light" (click)="goToModal(v.username)">Book Appointment</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="container container2">
            <div class="card h-100  mx-auto d-block mt-3" *ngFor="let v of doctors">
                <div class="row g-0">
                    <div class="col my-auto">
                        <img src="{{v.imgUrl}}" class="h-100 m-3 img" alt="">
                    </div>
                    <div class="col d-flex justify-content-center align-items-center">
                        <div class="card-body my-auto">
                            <h5>Name: <span>{{v.name}}</span></h5>
                            <h5>City: <span>{{v.city}}</span></h5>
                            <h5>Specialization: <span>{{v.specialization}}</span></h5>
                            <h5>Experience: <span>{{v.experience}}</span></h5>
                            <h5>Fees: <span>{{v.consultationFee}}</span></h5>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-end align-items-end m-3">
                        <button class="btn btn-outline-light" (click)="goToModal(v.username)">Book Appointment</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <app-appointment></app-appointment>
    </div>
</div>